header {
    background-color: antiquewhit;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
}